name: 2023 .NET 9 Xunit Tests

on:
  push:
    paths:
      - "2023/**"
      - ".github/workflows/2023-tests.yml"  
  pull_request:
    paths:
      - "2023/**"
      - ".github/workflows/2023-tests.yml"  
permissions:
  id-token: write
  contents: read
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 2023

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --verbosity normal --logger "trx;LogFileName=TestResults.trx"
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure() # run this step even if previous step failed
        with:
          name: XUNIT Tests # Name of the check run which will be created
          path: 2023/tests/**/*.trx # Path to test results
          reporter: dotnet-trx # Format of test results
